# Final Project - Redoing Unit 8 Case Study in Python

___Zach Brown___  
___August 9, 2017___

## Abstract

## Introduction

## Methods and Results

The text files containing race data are not formatted the same way from year to year. Some years have additional columns and the headers differ from year to year. We will need to develop a way to programatically determine where the data begins and what columns each file contains. We will start by reading in one of the files and looking at the first 10 rows to see what it looks like.

In [10]:
with open('WomenTxt/2012.txt') as f: els = f.readlines()

els[:10]

['                 Credit Union Cherry Blossom Ten Mile Run\n',
 '                 Washington, DC     Sunday, April 1, 2012\n',
 '\n',
 '               Female Official Results (Sorted By Net Time)\n',
 '\n',
 'Place Div  /Tot   Num    Name                   Ag Hometown             5 Mile  Time    Pace  S \n',
 '===== =========== ====== ====================== == ==================== ======= ======= ===== = \n',
 '    1     1/2781       2 Jelliah Tinega         26 Kenya                  26:48   54:02  5:25 ! \n',
 '    2     2/2781      24 Malika Mejdoub         29 Ethiopia               27:09   54:24  5:27 ! \n',
 '    3     1/2228      22 Yihunlish Delelecha    30 Ethiopia               27:09   54:33  5:28 ! \n']

We will also read in the 2011 file to compare it with with 2012.

In [11]:
with open('WomenTxt/2011.txt') as f: els2011 = f.readlines()

els2011[:10]

['                 Credit Union Cherry Blossom Ten Mile Run\n',
 '                 Washington, DC     Sunday, April 3, 2011\n',
 '\n',
 '               Female Official Results (Sorted By Net Time)\n',
 '\n',
 'Place Div  /Tot   Num    Name                   Ag Hometown             5 Mile  Time    Net Tim Pace  S \n',
 '===== =========== ====== ====================== == ==================== ======= ======= ======= ===== = \n',
 '    1     1/2706      14 Julliah Tinega         25 Kenya                          54:02   54:02  5:25 ! \n',
 '    2     1/937       16 Risper Gesabwa         22 Kenya                  27:17   54:03   54:03  5:25 ! \n',
 '    3     1/1866      48 Tgist Tufa             30 Ethiopia               27:17   54:13   54:13  5:26 ! \n']

Comparing these two files, we can see that they both contain similar headers. The column names are separated from the data by a row of equal signs. The equal signs have a space in between them where a new column begins. We can also see an example of different years containing different columns, as 2011 contains a “Net Tim” column, but 2012 does not.

We will now begin to determine how to write a function that can read in all of the files and account for their differences. The first step is to determine where the line containing the equals signs is in the file. This can be accomplished using a regular expression and searching for a string of 3 equals signs at the beginning of a line.

In [30]:
import re

regex = re.compile('===')

for idx, line in enumerate(els, 0):
    if regex.match(line):
        eqIndex = idx
        
eqIndex

6

In the 2012 women’s data, the line containing the equals signs is on line 6. With this information, the column headers can be extracted from the previous row and the data can be pulled from the rows following this row.

In [15]:
spacerRow = els[eqIndex]
headerRow = els[eqIndex - 1]
body = els[eqIndex + 1:]

In order to make the header row easier to parse, we will convert the column names to lower case format.

In [18]:
headerRow = headerRow.lower()

Each column will need to be extracted individually. In order to determine how to do this, we will begin with the age column. We will attempt to locate the age data by finding the starting position of the age column in the header row.

In [20]:
headerRow

'place div  /tot   num    name                   ag hometown             5 mile  time    pace  s \n'

In [31]:
ageStart = re.search('ag', headerRow).span()[0]

ageStart

48

The “ag” column name in the header row begins in position 48. We will attempt to pull the ages of runners by taking positions 48 and 49 of the data.

In [42]:
age = []
for line in body:
    age.extend([line[ageStart : ageStart + 2]])

age[:6]

['26', '29', '30', '26', '29', '29']

In [65]:
import numpy as np

def summary(array):
    print('Min: ' + str(np.min(array)))
    print('1st Qu.: ' + str(np.percentile(array, 25)))
    print('Median: ' + str(np.median(array)))
    print('Mean: ' + str(np.mean(array)))
    print('3rd Qu.: ' + str(np.percentile(array, 75)))    
    print('Max: ' + str(np.max(array)))
    
age_np = np.array(age).astype(int)
summary(age_np)

Min: 12
1st Qu.: 27.0
Median: 32.0
Mean: 33.8779033916
3rd Qu.: 39.0
Max: 75

This appears to have worked. The youngest female runner in 2012 was 12 and the oldest was 75. There are also no null values, which is a positive sign.
Since the column widths can change from year to year, an easier method for determining where columns begin and end is to search for the breaks in the spacer row. This can be done using a global regular expression.

In [83]:
regex = re.compile(' ')
blankLocs = []
for i in regex.finditer(spacerRow):
    blankLocs.extend([i.start()])

print(blankLocs)

[5, 17, 24, 47, 50, 71, 79, 87, 93, 95]

This returns the locations of all of the spaces in the row of equals signs, but since there is not a space at the beginning of the row, a 0 can be appended to the output to specify the starting position of the first column.

In [84]:
searchLocs = [0] + blankLocs
print(searchLocs)

[0, 5, 17, 24, 47, 50, 71, 79, 87, 93, 95]